body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.pic-1 {
	float: left;
	height: 400px;
	margin-right: 30px;
}

.pic-2 {
	float: right;
	height: 400px;
	margin-top: 30px;
}